body{
  font-size: 16px;
}


.resistorEmptyBand, .resistorColorBand{
  width: 6rem;
  height: 16rem;
  display: inline-block;
  position: relative;
  left:9rem;
  top:40%;
  border: 5px solid black;
}

.emptyBand{
  background-color: #FFFFCC;
}
